.container .header_part{
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container .menu_li{
   text-align: center;
}
.icon i{
    font-size: 25px;
    color: var(--grey);
}
.text p{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--grey);
}